:root {
  /* Colores predeterminados para el modo normal */
  --sistema-color: #007bff;
  --sistema-color-hover: #a3071d;
  --boton-inscribirse: #fca429;
  --boton-inscribirse-hover: #e29426;
  --color-white: white;
  --contenido-color: #00233f;
  --contenido-color-active: linear-gradient(90deg, #f21826 0, #a3071d);
  --contenido-color-border: 1px solid #0a0a0a;
  --contenido-informacion-color: #f7f9fa;
  --h4-color: #0a0a0a;

  /* Colores predeterminados para el modo oscuro */
}

.tab-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 15px;
  width: 100%;
  text-align: left;
  outline: none;
  margin: 2px;
  background-color: var(--contenido-color);
  border-radius: 0%;
  color: var(--color-white);
  border: var(--contenido-color-border);
}

.tab-button.active {
  background: var(--contenido-color-active);
  font-weight: bold;
  border: var(--contenido-color-border);
}

.tab-content {
  padding: 20px;
  background: var(--contenido-informacion-color);
  border: var(--contenido-color-border);
}

.tab-content li {
  margin-left: 30px;
}

.custom-button {
  background: var(--boton-inscribirse);
  color: var(--color-white);
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.custom-button:hover {
  background: var(--boton-inscribirse-hover);
}

.custom-th {
  background-color: var(--sistema-color) !important;
  color: var(--color-white) !important;
}

.custom-th:hover {
  background-color: var(--sistema-color-hover) !important;
  color: var(--color-white);
}

.custom-card-height {
  max-height: 100%;
  overflow-y: auto;
  padding: 0%;
}
.custom-img-height {
  height: 150px;
  object-fit: cover;
  border-radius: 0%;
}

.card-hover-effect {
  transition: transform 0.5s ease-in-out;
}

.card-hover-effect:hover {
  transform: translateY(-8px);
}

h4 {
  color: var(--h4-color);
}

h5 {
  text-transform: capitalize;
}
h6 {
  font-weight: normal;
}

.card {
  border-radius: 0%;
  padding: 1%;
}

/* ----MODO OSCURO-------- */
.dark-informacion {
  background-color: #000000 !important;
  box-shadow: 0 4px 5px rgba(248, 246, 246, 0.08);
}

.dark-informacion p {
  color: var(--color-white);
}
.dark-informacion h2 {
  color: white;
}
.dark-card {
  background-color: #000000 !important;
  box-shadow: 0 4px 5px rgba(248, 246, 246, 0.08);
}
.dark-card h4 {
  color: var(--color-white);
}
.dark-card-text p {
  color: var(--color-white);
}
.dark-card-text span {
  color: var(--color-white) !important;
}
.dark-custom-card-height {
  background-color: #242424 !important;
}
.dark-informacion-card {
  color: var(--color-white);
}
.dark-informacion-card h5 {
  color: #edf0f2;
}
.dark-inscribirse button {
  background: var(--boton-inscribirse-hover);
}
.dark-sistema {
  background-color: #366da9 !important;
}
.dark-sistema-contenido {
  background: #edf0f2 !important;
}
.dark-sistema:hover {
  background-color: #9b1225 !important;
}
.dark-contenido-curso h4 {
  color: var(--color-white);
}
.dark-tab-button {
  background-color: #366da9;
}

.dark-tab-button.active {
  background: linear-gradient(90deg, #b1242e 0, #8f081a);
  font-weight: bold;
  border: var(--contenido-color-border);
}

/* colores de iconos */

.icon {
  margin-right: 5px;
}
