.title {
  font-family: var(--tipo-letra);
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: var(--azulmarino-color);
  font-stretch: 100%;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -4px -4px 8px rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

.resaltar {
  color: var(--resaltar-color);
}

.portada {
  width: 100%;
  height: 70vh;
  object-fit: contain;
  margin: 0 auto;
}

/* Cambio de tamaño de fuente en dispositivos móviles */
/* @media (max-width: 767px) {
  .title {
    font-size: 45px; 
  }
} */

/* Una animación de fotogramas*/
@keyframes professionalEffect {
  0% {
    color: #f02a22;
  }
  50% {
    color: #d50000;
  }
  100% {
    color: #f02a22;
  }
}

/* Apply the animation to the .resaltar class */
.text-gratuito {
  font-weight: 900;
  animation: professionalEffect 2s infinite;
}

.bg-rojo {
  display: inline-block;
  position: relative;
  font-family: var(--tipo-letra);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  color: white;
  background: linear-gradient(90deg, #f21826, #a3071d);
  padding: 10px 20px;
  overflow: hidden;
}

.bg-rojo span {
  position: relative;
  z-index: 1;
}

.bg-rojo:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: white;
  transform: rotate(35deg) translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, left 0.3s;
  z-index: 0;
}

.bg-rojo:hover:after {
  opacity: 1;
  left: 120%;
}

.bg-rojo:hover {
  background: linear-gradient(90deg, #f21826, #a3071d, #f21826);
  color: #dbd6d6;
}

.input-group {
  margin-bottom: 20px;
}

.text-gratuito {
  color: #d50000;
  font-weight: 700;
}

.input-group {
  margin-bottom: 20px;
}

/* Programas de perfil, cursos, programas de oficio */
/* .d-programas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .header-container {
    position: relative;
    overflow: hidden;
    padding: 10px;
    flex: 1 0 33.3% !important;
    margin-bottom: 20px;
    height: 200px !important;
  }
  
  .header-image {
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    border-radius: 10px;
    object-fit: cover;
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(251, 176, 59);
    text-transform: uppercase;
  } */

/* NUESTRAS EXPERIENCIAS */
/* .efecto-hover {
    transition: transform 0.3s ease;
  }
  .efecto-hover:hover {
    transform: scale(1.025);
    filter: saturate(130%);
    box-shadow: 1px 1px 1px 1px rgb(251, 176, 59);
    padding: 2px;
  }
  .responsive-bann {
    width: 99%;
    margin: 5rem auto;
    background-image: linear-gradient(to bottom right, #f11826, #a4071d);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-repeat: no-repeat;
    overflow: hidden;
  } */

/* Banner de Gracias  */
.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  margin-left: 10%;
  flex: 0 0 100%;
  max-width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.more-link {
  background-color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  padding: 12px 18px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  border: none !important;
  position: relative;
  border-radius: 30px;
  -webkit-transition: 0.1s all ease-in-out;
  -moz-transition: 0.1s all ease-in-out;
  -o-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  width: 100%;
  max-width: 210px;
  margin: 0 auto;
  font-stretch: 100%;
}

.more-link:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.svg,
.img {
  fill: rgba(38, 16, 238, 0.1);
  position: absolute;
}

.imagen {
  max-width: 21%;
  height: auto;
}

.img {
  top: 0;
  right: 0;
}

/* .custom-height {
  height: 230px;
  width: 290px;
} */

.link-container {
  text-align: center;
}

#logo {
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Efecto de animación */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-enter-active,
.banner-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.banner-enter-from,
.banner-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/* Testimonios */
.testimonial-container {
  padding: 15px;
  margin-bottom: 20px;
  background-color: var(--white-color);
  margin-right: 25px;
  margin-left: 25px;
  box-shadow: 1px 8px 8px rgba(128, 128, 128, 0.3);
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.testimonial-container:hover {
  transform: scale(1.05);
}

.testimonial img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  background-size: cover;
}

.user-rating span {
  color: var(--estrella-color);
}

.user-rating {
  font-size: 24px;
  margin: 10px 0;
}

.user-opinion {
  color: #363c50;
  font-family: "Inter", sans-serif;
  font-family: var(--tipo-letra);
  margin: 10px 0;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}

.user-name {
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  color: var(--username-color);
}

.slick-prev,
.slick-next {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query para ocultar en dispositivos móviles */
/* @media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
} */

.slick-next:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid rgb(11, 11, 11);
  border-top: 2px solid rgb(11, 11, 11);
  transform: rotate(130deg);
}

.slick-prev:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid rgb(11, 11, 11);
  border-top: 2px solid rgb(11, 11, 11);
  transform: rotate(-45deg);
}

/* @media (max-width: 767px) {
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
} */

.bg-btn {
  background: linear-gradient(90deg, #f21826 0, #a3071d);
  display: inline-block;
  width: 20%;
  padding: 12px 20px;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f21826 0, #a3071d);
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
}

/* Estilos para el texto del botón en el estado hover */
.bg-btn:hover:before {
  opacity: 0;
}

/* Modo oscuro*/

@keyframes darkprofessionalEffect {
  0% {
    color: yellow;
  }
  50% {
    color: #eeff41;
  }
  100% {
    color: yellow;
  }
}

.dark-mode-content .resaltar {
  animation: darkprofessionalEffect 2s infinite;
}

.dark-mode h1 {
  color: #fcfdfd;
}

.dark-mode .color-fondo {
  background-color: var(--dark-color);
}

.dark-mode-content .resaltar {
  color: #c6cdd2;
}

.dark-mode p {
  color: #c0bfba;
}

.dark-mode .user-rating span {
  color: var(--estrella-color);
}

.dark-mode .user-opinion {
  color: #f3f3f4;
}

.dark-mode .user-name {
  color: #df040c;
}

.dark-mode .arrow {
  color: #f3f3f4;
}

.dark-mode .testimonial-container {
  background-color: transparent;
}

@media (max-width: 480px) {
  /* .container-envelope {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: 2rem;
  }
  .responsive-banner {
    margin-top: 25px;
    min-height: 150px;
    max-height: 50px;
    border-radius: 5px;
  }

  .container-envelope {
    min-height: 150px;
    max-height: 50px;
  } */

  /* #logo {
      width: 100px;
    } */

  /* .more-link {
    padding: 8px 10px;
    font-size: 13px;
  } */
}

/* Add media query for smaller screens (e.g., tablets and mobiles) */
@media (max-width: 768px) {
  .portada {
    max-height: calc(118.7vh - 30rem);
  }
}

/* Add media query for smaller screens (e.g., tablets and mobiles) */
@media (max-width: 480px) {
  .ocultar {
    display: none;
  }
}

@media (max-width: 590px) {
  .ocultar {
    display: none;
  }
}

@media (max-width: 760px) {
  .ocultar {
    height: 10%;
    /* margin-top: 10% !important; */
    margin-bottom: 25% !important;
  }
}

/* Cambiar el tamaño del botón en dispositivos móviles */
@media (max-width: 767px) {
  .bg-btn {
    background: linear-gradient(90deg, #f21826 0, #a3071d);
    width: 80% !important; 
  }
}

@media (max-width: 767px) {
  .centered-img {
    display: block !important; /* Asegura que las imágenes sean elementos de bloque */
    margin: 0 auto !important; /* Centra horizontalmente las imágenes */
  }

  .img-with-overlay {
    max-width: 100%; /* Asegura que las imágenes no se desborden */
  }

  /* nuestros progrmas */
  .header-container {
    padding: 1px;
    height: 150px !important;
  }
}

@media (min-width: 767px) {
  .centered-img {
    width: 150%;
    display: block !important; /* Asegura que las imágenes sean elementos de bloque */
    margin: 0 auto !important; /* Centra horizontalmente las imágenes */
  }
}

@media (min-width: 1700px) {
  .display-1 {
    font-size: 110px;
    width: 100%;
  }
  .bg-rojo {
    width: 30%;
    padding: 2%;
  }
}
