#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0%;
}

/* Nuestras variables */
:root {
  /* Declaración de una variable para el tipo de letra */
  --tipo-letra: "Inter", sans-serif;
  /* Colores predeterminados para el modo normal */
  --titulo-color: #000000;
  --resaltar-color: #fc9a13;
  --parrafo-color: #000000;
  --background-color: #f6f9fa;
  --subtitulo-color: #484848;
  --enlace-color: #007bff;
  --estrella-color: #fc9a13;
  --white-color: #fff;
  --black-color: #000000;
  --red-color: #f21826;
  --naranja-color: #fc9a13;
  --azulmarino-color: #00233f;
  --navlink-color: #00233f;
  /* Color para los iconos en contacto */
  --ubicacion-color: #ffa808;
  --meta-color: #0064e0;
  --whatsapp-color: #019201;
  /* Testimonios */
  --username-color: #DF040C;
  --boxShadow: 0px 2px 2px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);

  /* Menú para celulares  */
  --links-color: #212121;

  /* Colores predeterminados para el modo oscuro */
  --darkbackground-color: #141414;
  /* Colores predeterminados para el modo normal */
  --sistema-color: #007bff;
  --sistema-color-hover: #a3071d;
  --boton-inscribirse: #fca429;
  --boton-inscribirse-hover: #e29426;
  --color-white: white;
  --contenido-color: #00233f;
  --contenido-color-active: linear-gradient(90deg, #f21826 0, #a3071d);
  --contenido-color-border: 1px solid #0a0a0a;
  --contenido-informacion-color: #f7f9fa;
  --h4-color: #0a0a0a;



}

body {
  background-color: var(--white-color);
}

/* Estilos de los enlaces del menú */
.contenedor-nav {
  width: 95%;
}

.contenedor {
  width: 85%;
  margin: 0 auto;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Animations */
@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.04);
  }
}


h2 {
  font-family: var(--tipo-letra);
  color: var(--azulmarino-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.6);
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  font-stretch: 100%;
  font-style: normal;
  text-decoration: none solid rgb(0, 0, 0);
}

h3 {
  font-family: var(--tipo-letra);
  color: var(--azulmarino-color);
  font-weight: 700;
  font-size: 24px;
  font-stretch: 100%;
  font-style: normal;
  text-decoration: none solid rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--tipo-letra);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  text-align: justify;
  color: #111427;
  font-stretch: 100%;
  text-decoration: none solid rgb(17, 20, 39);
}

img {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.bg-rojo {
  display: inline-block;
  position: relative;
  font-family: var(--tipo-letra);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  color: white;
  background: linear-gradient(90deg, #f21826, #a3071d);
  padding: 10px 20px;
  overflow: hidden;
}

.bg-rojo span {
  position: relative;
  z-index: 1;
}

.bg-rojo:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: white;
  transform: rotate(35deg) translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, left 0.3s;
  z-index: 0;
  /* Colocamos el efecto de brillo detrás del texto */
}

.bg-rojo:hover:after {
  opacity: 1;
  left: 120%;
}

.bg-rojo:hover {
  background: linear-gradient(90deg, #f21826, #a3071d, #f21826);
  color: #dbd6d6;
}

/* Estilos para el modo oscuro del body*/
.dark-mode-body {
  background-color: var(--black-color);
}

.dark-mode-content .color-fondo {
  background-color: var(--black-color) !important;
}

.dark-mode h2 {
  color: var(--white-color);
}

/* Add media query for smaller screens (e.g., tablets and mobiles) */
@media (max-width: 480px) {
  .gracias {
    font-style: normal;
    font-size: 14px;
    text-align: justify;
    color: var(--parrafo-color);
    font-stretch: 100%;
  }
}